.app-container {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.content-wrapper {
  flex: 1;
  transition: margin-left 0.3s;
  margin-left: 5rem; /* ancho colapsado por defecto (w-20) */
}

/* Cuando el sidebar está expandido */
.sidebar-expanded ~ .content-wrapper {
  margin-left: 16rem; /* ancho expandido (w-64) */
}

