@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración de tema de DaisyUI */
:root {
  --primary: #1d4ed8;
  --primary-focus: #1e40af;
  --primary-content: #ffffff;
  --secondary: #f3f4f6;
  --secondary-focus: #e5e7eb;
  --secondary-content: #1f2937;
  --accent: #37cdbe;
  --accent-focus: #2aa79b;
  --accent-content: #ffffff;
  --neutral: #3d4451;
  --neutral-focus: #2a2e37;
  --neutral-content: #ffffff;
  --base-100: #ffffff;
  --base-200: #f9fafb;
  --base-300: #f3f4f6;
  --base-content: #1f2937;
  --info: #2094f3;
  --success: #009485;
  --warning: #ff9900;
  --error: #ff5724;
}
